<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to "Log in as job seeker", new_developer_session_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= active_link_to 'Sign up as job seeker', new_developer_registration_path, class: "nav-link" %>
  </li>
</ul>
