
  <p>Dear <%= @developer.full_name %>,</p>

  <p>Thank you for submitting an application to a role through the Find My Flock community!</p>

  <p>Guess what? Your application has been opened and is being reviewed by <%= @company.name %>.</p>

  <p>We know you're probably super nervous. You will continue to receive email updates regarding the review of your application. You can also <%= link_to "click here", dashboard_developers_url  %> to view the status of each of your applications.</p>

  <p>With love and solidarity,<br>
  Find My Flock Team<p>
