<p>Dear <%= @developer.full_name %>,</p>

<p>Thank you for applying to a role through the Find My Flock community!</p>

<p>Your application has been reviewed by <%= @company.name %> and unfortunately rejected.</p>

<p>Darn it! We feel your pain. We thought that was a good fit, too.</p>

<p>We know the job search is tough, but keep at it! You can <%= link_to "click here", dashboard_developers_url  %> to view the status of your other applications or apply to new roles. More are being added every day. We are committed to finding your flock and helping you fly higher!</p>

<p>With love and solidarity,<br>
Find My Flock Team<p>
