<div>
  <h1>Matches</h1>
</div>

<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Job</th>
      <th>Developer</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.job.title, admin_job_path(match.job) %></td>
        <td><%= link_to match.developer.full_name, admin_developer_path(match.developer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
