<table class="table table-striped">
  <h4>Matches for <%= @job_title %></h4>
  <thead>
    <tr>
      <th>Developer</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.developer.full_name %></td>
        <td><%= link_to "See developer", admin_developer_path(match.developer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
