<% if notice || alert %>
  <% alert_class = alert.present? ? 'alert-danger' : 'alert-success' %>
  <div id="flash-message"
    class="alert <%= alert_class %> fade show"
    role="alert">
    <%= notice || alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
