<section class="mt-2 mb-5">
  <div class="row justify-content-md-center">
    <div class="col-sm-9">
      <div class="card review-card">
        <div class="row mx-auto pb-4">
          <div class="col-4 avatar align-self-center">
            <%= image_tag(image_file) %>
          </div>
          <div class="col-8 review-titles">
            <h5 class="card-title"><%= name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= title %></h6>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= quote %></p>
        </div>
      </div>
    </div>
  </div>
</section>
