<body style="background-color: white">
  <div class="job-samples-page">
    <div style="padding-bottom:5vh">
      <div class="row">
        <div class="col-md-12">
          <h4 class="centered mx-auto" style="max-width:70vw">
            <div class="underlined-orange small-padded-title mx-auto" style="max-width:253px">
              Find My Flock Privacy Policy
            </div>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <p class="mx-auto" style="max-width: 800px;">
            Below are a few examples of jobs  you can find on our site. <br><br> Most of our opportunities are technical, but there are plenty of product, project management, design and leadership roles as well! <br><br>
            If you want to see more, complete your profile and find the jobs that will match your skills and expected benefits!
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
