<p>Hi!</p>

<p>Friendly reminder that you have dream job seekers waiting on your reply through the platform!
</p>

<p>Please either contact or reject these folks. We know you remember how hard your last job search was, and we're sure you wouldn't want to keep them waiting.</p>

<p>Your candidates include:</p>

<% @applications_array.each do |app| %>
 <p> <%= app.developer.full_name %></p>
  <p><%= app.job.title %></p>
  <p><%= app.message %></p>
<% end %>

<p>Thank you for working with Find My Flock!
</p>
