<p>Hi there!</p>

<p>We have sad news and good news.</p>

<p>Sad news first: <%= @developer.first_name %> who applied to your <%= @job.title %> position has ended their job search. We’ve deleted their application and information from your dashboard.</p>

<p>The good news is, there are still many great applicants on our platform! Fingers crossed that the next one is your ideal next teammate!</p>

<p>Not getting the dream candidate you hoped for? You can always contact us about our premium “Vetted” job posting style, where we both reach out to and screen candidates on your behalf. If you’re interested, email info@findmyflock to request more info!</p>

<p>Thanks again for being apart of our network,</p>

<p>Find My Flock Team</p>
