  <p>Dear recruiter,</p>

  <p>We are sorry to announce you that one of your candidate have cancelled his/her application for your job.</p>

  <p>The reason may be that the candidate has suspended his research.</p>

  <p>With love and solidarity,<br>
  Find My Flock Team<p>
