

  <p>Dear <%= @developer.full_name %>,</p>

  <p>Great news! <%= @company.name %> has reviewed your application and wants to continue the conversation. </p>

  <p>The recruiter says:</p>

  <p><i><%= @message %></i></p>

  <p><b>To respond, reply directly to this email.</b></p>

  <p><b>We're so excited for you! Good luck!</b></p>

  <p>With love and solidarity,<br>
  Find My Flock Team<p>
