<%= simple_form_for match, url: admin_match_path(match), action: :update do |f| %>
  <div class="field">
    <%= f.select :status, Match.statuses.keys %>
    <%= f.submit 'Save', class: "btn btn-small hidden" %>
  </div>
<% end %>
